<td class="competency-column" <%= id ? 'data-id="'+id+'"' : '' %> title="<%= description %>"><%= name %></td>
<td class="quarter-mark-column current">
  <span class="stars five-stars greyed-out">
    <span class="stars three-stars highlighted"></span>
    <a onclick="alert('set Grandmaster value')" title="Grandmaster - knows and can do everything (feature owner or similar)." class="star-link five-stars"></a>
    <a onclick="alert('set Master value')" title="Master - knows evrythig about the feature." class="star-link four-stars"></a>
    <a onclick="alert('set Experienced value')" title="Experienced - have already worked and have a good understanding." class="star-link three-stars"></a>
    <a onclick="alert('set Rookie value')" title="Rookie - tried at some point but does not have enough experience." class="star-link two-stars"></a>
    <a onclick="alert('set Freshman value')" title="Freshman - knows almost nothing or just heared about this." class="star-link one-stars"></a>
  </span>
</td>
<td class="quarter-mark-column previous">
  <span class="stars five-stars greyed-out">
    <span class="stars two-stars highlighted"></span>
    <a onclick="alert('set Grandmaster value')" title="Grandmaster - knows and can do everything (feature owner or similar)." class="star-link five-stars"></a>
    <a onclick="alert('set Master value')" title="Master - knows evrythig about the feature." class="star-link four-stars"></a>
    <a onclick="alert('set Experienced value')" title="Experienced - have already worked and have a good understanding." class="star-link three-stars"></a>
    <a onclick="alert('set Rookie value')" title="Rookie - tried at some point but does not have enough experience." class="star-link two-stars"></a>
    <a onclick="alert('set Freshman value')" title="Freshman - knows almost nothing or just heared about this." class="star-link one-stars"></a>
  </span>
</td>