<div class="container">
  <footer class="site-footer">
    <section id="copyright">
      <ul class="site-footer-links">
        <li>© 2013 <span>SkillTracker team</span>.</li>
      </ul>
    </section>
    <nav>
      <ul class="site-footer-links right">
        <li><a href="#" onclick="javascript:alert('link to about page here.');">About</a></li>
      </ul>
    </nav>
  </footer>
</div>