@if (this.User == null || !this.User.Identity.IsAuthenticated)
{
  <text>
  <header class="header-logged-out">
    <section id="top-navigation-menu">
      <nav class="clear-fix">
        <a href="#" onclick=" javascript:alert('navigate to about page (just frontpage)'); " class="header-logo"><span class="skilltracker-logo-container" /></a>
        <div class="command-bar">
          <ul class="top-nav">
            <li><a href="#" onclick=" javascript:alert('link to statistics page here.'); " title="See overall site statistics" class="header-action">Statistics</a></li>
            <li><a href="#" onclick=" javascript:alert('link to register new user page here.'); " title="Register a new user" class="header-action">Register</a></li>
          </ul>
        </div>
      </nav>
    </section>
  </header>
  </text>
}
else
{
  <text>
  <header class="header header-logged-in">
    <section id="top-navigation-menu">
      <nav class="container clear-fix">
        <a href="#" onclick="javascript:alert('navigate to about page (just frontpage)');" class="header-logo-logged-in"><span class="skilltracker-logo-container"></span></a>
        <div class="divider-vertical"></div>
        <div class="command-bar find-member">
          <form accept-charset="UTF-8" action="no-action-for-now" class="command-bar-form" id="top_search_form" method="get">
            <input type="text" placeholder="type a name or email" tabindex="1">
            <span class="find-member-text-container minibutton no-options">Find a person
            </span>
          </form>
        </div>
        <div class="command-bar">
          <ul class="top-nav">
            <li><a href="#" onclick="javascript:alert('link to statistics page here.')" title="See overall site statistics" class="header-action">Statistics</a></li>
            <li><a href="#" onclick="javascript:alert('link to reports page here or show menu.')" title="View reports" class="header-action">Reports</a></li>
          </ul>
        </div>
        <div class="command-bar user-links">
          <ul>
            <li>
              <a href="#" onclick="javascript:alert('navigate to user profile page')" class="user-link-text" title="Profile">
                <img height="20" src="~/Content/images/small/account_noimage24.png" width="20" alt="user_name">
                user_name
              </a>
            </li>
            <li>
              <a class="user-link-toolbutton" href="#" onclick="javascript:alert('log out');" aria-label="Sign out" title="Sign out">
                <img height="20" src="~/Content/images/small/account_logout24.png" width="20" alt="Sign out">
              </a>
            </li>
          </ul>
        </div>
      </nav>

    </section>
  </header>
  </text>
}
