<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true" internalLogFile="${basedir}/App_Data/logs/nlog.txt" internalLogLevel="Debug" internalLogToConsole="true">

  <!-- 
  See http://nlog-project.org/wiki/Configuration_file 
  for information on customizing logging rules and outputs.
   -->
  <targets>
    <!-- add your targets here -->
    
    <target xsi:type="File" name="fileLog" fileName="${basedir}/App_Data/logs/${shortdate}.log" layout="${longdate} ${uppercase:${level}} ${message}${onexception:EXCEPTION OCCURRED\:${exception:format=tostring}}" />
    <target xsi:type="File" name="auditLog" fileName="${basedir}/App_Data/logs/${shortdate}.audit.log" layout="${longdate} ${uppercase:${level}} ${message}" />

    <target name="consolelog" xsi:type="ColoredConsole" layout="${date:format=HH\:mm\:ss}|${level}|${stacktrace}|${message}" />

  </targets>

  <rules>
    <!-- add your logging rules here -->
    <logger name="*" minlevel="Debug" writeTo="fileLog" />
    <logger name="*" minlevel="Debug" writeTo="auditLog" />
  </rules>
</nlog>