<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <connectionStrings>
    <add name="SkillTrackerConnectionString" connectionString="data source=.;integrated security=true;initial catalog=SkillTracker" />
    <add name="SkillTrackerContext" connectionString="metadata=res://*/SkillTrackerModel.csdl|res://*/SkillTrackerModel.ssdl|res://*/SkillTrackerModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;integrated security=true;initial catalog=SkillTracker;multipleactiveresultsets=True;&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <system.web>
    <membership defaultProvider="SqlProvider" userIsOnlineTimeWindow="20">
      <providers>
        <remove name="AspNetSqlProvider" />
        <add name="SqlProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="SkillTrackerConnectionString" applicationName="SkillTrackerApp" minRequiredPasswordLength="1" minRequiredNonalphanumericCharacters="0" requiresQuestionAndAnswer="false" requiresUniqueEmail="true" maxInvalidPasswordAttempts="256" />
      </providers>
    </membership>
  </system.web>
</configuration>