<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>
  <connectionStrings>
    <add name="SkillTrackerConnectionString" connectionString="data source=.;integrated security=true;initial catalog=SkillTracker" />
    <add name="SkillTrackerContext" connectionString="metadata=res://*/SkillTrackerModel.csdl|res://*/SkillTrackerModel.ssdl|res://*/SkillTrackerModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;integrated security=true;initial catalog=SkillTracker;multipleactiveresultsets=True;&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <system.web>
    <membership defaultProvider="SqlProvider" userIsOnlineTimeWindow="15">
      <providers>
        <clear />
        <add name="SqlProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="SkillTrackerConnectionString" applicationName="SkillTrackerApp" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="true" requiresUniqueEmail="true" passwordFormat="Hashed" />
      </providers>
    </membership>
  </system.web>
</configuration>